{% extends '_base.html' %}
{% load blog_tags %}

{% block title %}بازیابی رمز عبور{% endblock title %}

{% block content %}

<div>
    <h1>تعیین مجدد رمز عبور</h1>
    {% if validlink %}
    <p> از فرم زیر جهت تعیین مجدد رمز عبور خود استفاده کنید</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="تأیید">
    </form>
    {% else %}
    <h5>با عرض پوزش! این لینک با مشکل مواجه شده است.</h5>
    <h6>لطفا از <a href="{% url 'password_reset' %}">این لینک</a> جهت بازگشت به صفحه نخست <b>بازیابی</b> استفاده کرده و
        باری دیگر درخواست خود را ثبت نمایید.</h6>
    {% endif %}
</div>
{% endblock content %}