{% load i18n %}
{% autoescape off %}
<h1> دریافت این ایمیل به دلیل درخواست شما جهت بازیابی رمز عبور حساب کاربری در وبسایت {{ site_name }} میباشد.</h1>

<p>جهت بازیابی رمز عبور روی لینک زیر کلیک کنید.</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {% translate "Reset your password" %}
    </a>
</p>

<p>{% translate "Your username, in case you’ve forgotten:" %} {{ user.get_username }}</p>

<p>{% translate "Thanks for using our site!" %}</p>

<p>{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}</p>
{% endautoescape %}